/********
 GLOBAL
*******/

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

body {
    font-family: $body-font !important;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    @include font-size(1rem);
}



/*************
 TYPOGRAPHY
*************/

h1, h2, h3, .h1, .h2, .h3 {
    font-family: $headline-font !important;
    text-transform:uppercase;
    letter-spacing:.125vw;
    line-height:1;
}


h1, .h1 {
    @include font-size(4rem);
}

h2, .h2 {
   @include font-size(2.75rem);
}

h3, .h3 {
    @include font-size(2rem);
}

h4, .h4 {
   @include font-size(1.5rem);
}

p, li {
    
}

a, .btn {
    transition: $mytransition;
}

a.anchor {
    padding-top:125px;
}


.btn {
    @include font-size(1rem);
    text-transform:uppercase;
    &.btn-secondary, &.btn-primary {
        color:$white;
    }
    &.btn-link {
        padding:0;
    }
}

/********
STRUCTURE
*********/

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

@media (min-width: 2000px) {
    .container {
        max-width: 1800px;
    }
}

section {
    padding: 20px 0;

    @include media-breakpoint-up(md) {
        padding: 40px 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 60px 0;
    }

    @include media-breakpoint-up(xl) {
        padding: 80px 0;
    } 
    &.full {
        padding:0;
    }    
}

section, .row {
    overflow:hidden;
}

#full-width-page-wrapper, #page-wrapper {
    padding:0;
    overflow:hidden;
    #content, .container-fluid {
        padding:0;
    }
}

/**************
GLOBAL CLASSES
**************/

.bg-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    &.cover {
        background-size:cover;
    }
}

.bg-dark, .bg-primary, .bg-secondary {
    h1,h2,h3,h4,h5,p,li,a {
        color:$white;
    }
}

.overlay {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($primary, 0.7);
        z-index: 0;
    }
}

ul.inline-list {
    list-style: none;
    padding: 0;    

    li {
        display: inline-block;
    }
}

.square {
    position:relative;
    &:after {
        content:'';
        display:block;
        width:100%;
        height:0;
        padding-bottom:100%;
    }
}

.rectangle {
    position:relative;
    &:after {
        content:'';
        display:block;
        width:100%;
        height:0;
        padding-bottom:75%;
    }
    &.tall {
        &:after {
           padding-bottom:122.2222%;
       }
    }
    &.short {
       &:after {
           padding-bottom:57%;
       }
    }
}



/***** 
Navbar
*****/

nav.navbar {
    padding: 15px 0;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    transition: $mytransition;
    z-index:1;
    @include media-breakpoint-up(lg) {
        @include font-size(.875rem);
        text-align:left;
    }

    &.navbar-expand-lg > .container {
        padding-right: 15px; 
        padding-left: 15px;
    }

    .custom-logo-link {
        transition: $mytransition;
        max-width: 100px;
        padding:  0;
        @include media-breakpoint-up(lg) {
            max-width: 205px;
            margin-right:4rem;
        }
    }

    &.active {
        padding:5px 0;
        .custom-logo-link {
            max-width: 75px;
            padding: 5px 0;
            @include media-breakpoint-up(lg) {
                max-width: 100px;
            }
        }
    }

    .navbar-toggler {
        .burger-icon {
            @include burger(25px, 2px, 6px, $primary);
        }

        &.active .burger-icon {
            @include burger-to-cross;
        }
    }
   
}


/********** 
GOOGLE MAP
**********/
.acf-map, #map {
    width: 100%;
    height: 500px;
    img {
       max-width: inherit !important;
    }
}
